@use '../../../variabes' as var;

.header-bg {
  background-image: url('/HEADER BG.png');
  background-size: cover;
  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
}

.lienMenu {
  margin-left: 100px;
}
.logo {
  margin-left: 100px;
}
.colorMenu {
  color: var.$blanc;
  font-family: var.$lato;
  font-weight: 400;
}
.espace {
  margin-top: 200px;
}
.bouton {
  font-family: var.$lato;
  margin-top: 20px;
  margin-right: 20px;
  background-color: var.$orange;
  color: var.$blanc;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 500;
  border: none;
}
.choix {
  font-family: var.$lato;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
.titre {
  font-family: var.$lato;
  color: var.$blanc;
}
.search {
  font-family: var.$lato;
  background-color: var.$noir;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 200px;
  font-weight: 600;
  font-size: 12px;
  color: var.$blanc;
  &::placeholder {
    color: var.$blanc;
  }
}
