@use '../../../variabes' as var;

.header-bg {
  background-image: url('/HEADER BG.png');
  background-size: cover;
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
}

.lienMenu {
  margin-left: 0px;
}

.logo-container {
  margin-left: 0px;
}

@media (min-width: 992px) {
  .lienMenu {
    margin-left: 100px;
  }
  .logo-container {
    margin-left: 100px;
  }
}

.colorMenu {
  color: var.$blanc;
  font-family: var.$lato;
  font-weight: 400;
}

.navbar-toggler {
  background-color: var.$blanc;
}

.espace {
  margin-top: 100px;
}

@media (min-width: 768px) {
  .espace {
    margin-top: 200px;
  }
}

.bouton {
  font-family: var.$lato;
  margin-top: 20px;
  margin-right: 15px;
  background-color: var.$orange;
  color: var.$blanc;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 500;
  border: 0px;
}

.choix {
  font-family: var.$lato;
  margin-top: 15px;
  border-radius: 10px;
  border: 0px;
  padding: 10px 15px;
  width: 100%;
}

.titre {
  font-family: var.$lato;
  color: var.$blanc;
  font-size: 32px;
}

@media (min-width: 768px) {
  .titre {
    font-size: 48px;
  }
}

.search {
  font-family: var.$lato;
  background-color: var.$noir;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 0px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 12px;
  color: var.$blanc;
}

.header-bg .container.pb-5 {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .header-bg .container.pb-5 {
    margin-bottom: 150px;
  }
} .marge-bas {
  padding-bottom: 200px;
}