<div class="container-fluid p-0">
  <div class="row g-0 align-items-center">
    <div class="col-auto bar-fine color1"></div>
    <div class="col-auto bar-moyenne color2"></div>
    <div class="col-auto bar-large color3"></div>

    @if (monArticle()) {
      <div class="col-8 bar-fond color4 d-flex align-items-center position-relative padding">
        <div class="col-7">
          <div class="p-5 text-white ">
            <h1>{{ monArticle().titre }}</h1>
            <div class="trait"></div>
            <p class="text-start">{{ monArticle().contenu }}</p>
            <a href="#" class="btn fw-bold boutton mt-3"
              >{{ monArticle().libelle_lien }} <span><img class="ms-5 mb-1" src="/right-arrow white.png" alt="fleche droite"></span></a
            >
          </div>
        </div>

        <div class="image-position">
          <img src="/DOTS.png" class="point" alt="Points" />
          <img src="/our office.png" class="image" alt="Bureau" />
        </div>
      </div>
    }
  </div>
</div>
