//Titre et sous  Titre

$lato: "Lato", sans-serif;

// Nom des couleurs et taille des ecriture a rappller avec variables.$(le nom de ma variables dans le style.scss)

$orange: #f7931e;
$bleuNuit: #19516b;
$bleuSoirer: #247093;
$bleuJourner: #70bdeb;
$blanc: #ffffff;
$noir: #000000;


//Fonts

$headersWhite: 18px;
$headersOrange: 18px;
$menuTop: 6px;
$bouttonOrange: 5px;
$bouttonNoir: 5px;
$bouttonBlanc: 5px;
$text: 6px;
$offre: 8px;
$M2: 6px;
$localisation: 6px;
$formulaire: 5px;

